body {
  font-family: sans-serif;
  margin: 0.5rem auto;
  padding: 0;
}

.container{
  position: relative;
  border: 2px solid #35627e;
  background-color: #4A8DB7;
  width: 50%;
  left: 50%;
  right: 50%;
  margin-top: 5%;
  border-radius: 8px;
  box-shadow:5px 7px rgb(242, 242, 250);
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#header{
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;

}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

p {
  margin: 2rem;
  font-size: 20px;
}

#task-list {
  margin: 0.5rem auto;
  width: 95%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

.completed {
  text-decoration: line-through;
  color: crimson;
  font-weight: 600;
}

.completed2 {
  text-decoration: unset;
}

#clear-all {
  text-align: center;
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 95%;
  margin: 0.5rem auto;
}

#clear-all:hover {
  background-color: #ddd;
}

#clear-all:disabled {
  cursor: default;
  background-color: #ddd;
  color: #999;
  border-color: #999;
}

#edit {
  position: relative;
}

#delete {
  position: relative;
}

#identifier {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
}

#savg:hover {
  cursor: move;
}
input{
  color: black;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#identifier{
  background-color:#fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#identifier span{
font-size: 18px;
font-weight: 500;
letter-spacing: 0.04em;
}
#clear-all{
   background-color: #ffffff;
   border-radius:8px;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   -ms-border-radius:8px;
   -o-border-radius:8px;
}
@media screen and (max-width:767px),
screen and (max-width:767px) {

  input[type="checkbox"] {
    margin-right: unset;

  }
input[type="submit"] {
   display: none;
  }
  input[type="text"] {
    width: 95%;
   }
   
  }